class ConnectCli < Formula
  include Language::Python::Virtualenv

  desc "CloudBlue Connect Command Line Interface"
  homepage "https://connect.cloudblue.com"
  url "{{ root_url }}"
  sha256 "{{ root_digest }}"
  license "Apache-2.0"
  version "{{ root_version }}"
  head "https://github.com/cloudblue/connect-cli.git"


  depends_on "python@3.10"
  depends_on "cairo"
  depends_on "pango"
  depends_on "gdk-pixbuf"
  depends_on "libffi"

  def install
    venv = virtualenv_create(libexec, "python3", without_pip: false)

    # homebrew-pypi-poet drops setuptools from the graph and Homebrew venvs no
    # longer ship it, but runtime deps (interrogatio) import the legacy
    # pkg_resources API removed in setuptools 81. Install it explicitly.
    system libexec/"bin/pip", "install", "-v",
                              "--ignore-installed", "setuptools<81"

{% for resource in resources %}
    system libexec/"bin/pip", "install", "-v", "--no-deps",
                              "--ignore-installed", "{{ resource.name }}=={{ resource.version }}"
{% endfor %}
    system libexec/"bin/pip", "install", "-v", "--no-deps",
                              "--ignore-installed", "--no-binary",
                              ":all", buildpath
    bin.install_symlink libexec/"bin/ccli"
  end

  test do
    assert_include "CloudBlue Connect Command Line Interface", shell_output("#{bin}/ccli").strip
  end
end
